  <footer class="footer" id="footer">
        <div class="container-fluid pad-25 hd_ft_back">
          <div class="row row-30 pad-25 white-txt">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>798 South Park Avenue, Jaipur, Raj</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">test@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">+123456789</a> <span>or</span> <a href="tel:#">+12344556677</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list ul-no-styles">
                <li><a href="#objective">Home</a></li>
                <li><a href="#services">Our Services</a></li>
                <li><a href="#carousel">Gallery</a></li>
                <li><a href="#footer">About</a></li>
              </ul>
            </div>
          </div>


	               <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8  white-txt">
                        <h5>Help turns tears into smile</h5>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="https://github.com/creativetimofficial/paper-kit" class="btn btn-github-bg btn-github sharrre btn-round"
                            rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
               </div>
        </div>
</footer>
